@using Market.Domain.Entity
@model Market.Domain.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "_Layout";
}
   
<form asp-controller="Product" asp-action="CreateProduct" method="post" enctype="multipart/form-data">   
    <div class="position-absolute top-50 start-50 translate-middle mb-3">
        <h1 class="text-white mb-3">Новый Продукт</h1>
        <div class="input-group mb-3">
            <input asp-for="@Model.Caption" type="text" class="form-control" placeholder="Название" aria-label="Название">       
        </div>    
        <div class="input-group mb-3">
            <input asp-for="@Model.Price" type="number" class="form-control" placeholder="Цена" aria-label="Цена">       
        </div>
        <div class="input-group mb-3">      
            <textarea asp-for="@Model.Description" class="form-control" placeholder="Описание" aria-label="With textarea"></textarea>
        </div>
        <div class="input-group mb-3">            
            <input asp-for="@Model.Image" type="file" class="form-control">
        </div>
        <div class="input-group mb-3">
            <select asp-for="@Model.ProductType.Name" type="text" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">                 
            @foreach(ProductType type in @Model.ProductTypes)
            {
                <option value="@type.Name">@type.Name</option>
            }                       
            </select>     
        </div>
        <button class="btn btn-success mb-5 w-100" type="submit">Создать</button>
    </div>    
</form>


